<!-- Corporate Login page -->
<div class="container-fluid" *ngIf="visible">
  <div class="ism_login_main">
    <div class="ism_login ism_corporate ism_corporate_signin">
      <img src="../../assets/image/ism_logo.svg" alt="">
      <div class="ism_signup">
        <form class="example-form" [formGroup]="loginForm">
          <label class="ism_labelhead">Sign-in</label>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" type="email" formControlName="email" required>
            <mat-error>{{getErrorMessage('email')}}</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [type]="phide ? 'text' : 'password'" formControlName="password"
              required>
            <mat-icon matSuffix (click)="phide = !phide">{{phide ?  'visibility' :'visibility_off'}}</mat-icon>
            <mat-error>{{getErrorMessage('password')}}</mat-error>
          </mat-form-field>
          <button type="submit" class="btn btn-primary btn-raised" (click)="onSubmitLogin()">
            <a>Sign In</a>
          </button>
        </form>
        <span class="ism_frgtpswrd">
          <button mat-raised-button (click)="forgotPwdMethod()">Forgot Password?</button>
        </span>
      </div>

      <div class="ism_signin">
        <span>Dont have an account?</span>
        <a [routerLink]="['/register']">
          Sign up
        </a>
      </div>



    </div>
  </div>

</div>
