<div class="ism_dashboard_mtng_cl01">
        <div class="ism_dashboard_month">
            <mat-card-content>
                <div class="ism_dashboard_month_cl01">
                    <label>
                        <span style="color: #0298f6">445</span>All</label>
                    <label>
                        <span class="ism_clr_svn">400</span>
                        Completed</label>
                    <label>
                        <span class="ism_clr_five">40</span>
                        Upcoming</label>
                    <label>
                        <span class="ism_clr_six">5</span>
                        Cancelled</label>
                </div>
            </mat-card-content>
        </div>
    </div>
    <div class="ism_dashboard_mtng_cl01">
        <div class="ism_dashboard_userevent">
            <div class="ism_dashboard_user">
                <div class="ism_app_head">
                    <h4>Users</h4>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="ism_dashboard_usercount">
                            <label>20 <span>Corporate Users</span></label>
                            <label>394 <span> External Participant</span></label>
                        </div>
                        <div class="ism_dashboard_user_cl01">
                            <div class="ism_dashboard_user_cl02">
                                <label>New <i class="ism_clr_one"></i> </label>
                                <label>
                                    <span>20</span>
                                </label>
                            </div>
                            <div class="ism_dashboard_user_cl02">
                                <label>Invited <i class="ism_clr_two"></i></label>
                                <label>
                                    <span>80</span>
                                </label>
                            </div>
                            <div class="ism_dashboard_user_cl02">
                                <label>Active <i class="ism_clr_thre"></i></label>
                                <label>
                                    <span>250</span>
                                </label>
                            </div>
                            <div class="ism_dashboard_user_cl02">
                                <label>INACTIVE <i class="ism_clr_four"></i></label>
                                <label>
                                    <span>250</span>
                                </label>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
            <div class="ism_dashboard_event">
                <div class="ism_app_head">
                    <h4>Upcoming Events (4)</h4>
                    <a href="">View all</a>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="ism_dashboard_event_cl01">
                            <div class="ism_dashboard_event_cl02">
                                <label>23/08/2019
                                    <br> hh:mm
                                </label>
                                <label>Event Name one</label>
    
                            </div>
                            <div class="ism_dashboard_event_cl02">
                                <label>23/08/2019
                                    <br> hh:mm
                                </label>
                                <label>Event Name one</label>
    
                            </div>
                            <div class="ism_dashboard_event_cl02">
                                <label>23/08/2019
                                    <br> hh:mm
                                </label>
                                <label>Event Name one</label>
    
                            </div>
                            <div class="ism_dashboard_event_cl02">
                                <label>23/08/2019
                                    <br> hh:mm
                                </label>
                                <label>Event Name one</label>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    